<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--StyleSheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Karla|Rubik:300,400,500" rel="stylesheet">
    <!--Stylesheet-->
    <title>Half Full</title>
</head>
<body>
   <div class="container">
       <div class="navbar">
            <a href="#" class="navbar-brand">Half full</a>
        <ul class="nav center-nav">
            <li class="nav-item">
                <a class="nav-link home-nav" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link about-nav" href="about">About</a>
            </li>
            <li>
                <a class="nav-link stories-nav " href="#">Stories</a>
            </li>
        </ul>
       <nav class="nav right-nav ">
            <a class="nav-link" href="#">Log In</a>
            <button type="button" class="btn btn-primary sign-up">Sign up</button>    
        </nav>
       </div>
   </div>
</body>
</html>