<%-include('partials/header.ejs')%>
<div class="container ">
    <div class="row about-section">
        <div class="col aboutpage-info">
            <h1>Our Mission</h1>
            <p>
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis quod consectetur, 
                 ex commodi corporis,  cumque vel ea autem sit deleniti,
                 facilis vero unde accusantium fugit debitis quo eligendi porro modi.
            </p>
        </div>
        <div class="col aboutpage-image">
          <img src="/assets/working.png">
        </div>
    </div>
</div>