<%-include('partials/header.ejs')%>
<div class="container" id="about-section">
    <div class="row text-center">
        <div class="col pb-5">
            <h2>There are far far better things ahead than anything we leave behind.</h2>
        </div>
    </div>
    <div class="row text-center pb-4">
        <div class="col text-center">
            <p> <span>HALFULL</span> is online chat based therapy application. Here we offer a range of tools and 
                features to help you with your journey.The Goal was to create a place where people can come to seek help or speak to someone judgement free.
                Here at <span>HALFULL</span> we believe that everyone needs someone to talk to , someone that can listen.
                
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn-primary btn" id="aboutButton">
            <a href="login">Get Started</a>
        </button>
    </div>
</div>
<div class="container mt-5" id="feature-section">
    <div class="row text-center">
        <div class="col">
            <h1 id="aboutUs"> About Us</h1>
        </div>
    </div>
    <div class="row justify-content-between" id="feature-sections">
        <div class="col-6">
            <h4>Personalized Quiz</h4>
            <p>Take this self-test to help figure out whether you’re showing any of the warning signs of depression. This won’t give you a diagnosis but it will help you decide the next step.</p>
        </div>
        <div class="col-4">
                <img src="/assets/question.svg" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-between" id="feature-sections">
            <div class="col-4">
                    <img src="/assets/chatting.svg" class="img-fluid">
            </div>
            <div class="col-6">
                <h4>Instant Message Chat</h4>
                <p>Instant Messaging feature allows users to speak with a therapist or just a friend. We understand that sometimes it's just about having someone to listen to us.</p>
            </div>
        </div>
        <div class="row justify-content-between" id="feature-sections">
                <div class="col-6">
                    <h4>Stories</h4>
                    <p>This is where our community comes together as one. Users can sumbit there own personal stories which others can see. This can be uplifting stories or just about your day both equally important</p>
                </div>
                <div class="col-4">
                        <img src="/assets/stories.svg" class="img-fluid">
                </div>
            </div>
</div>