<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Karla|Rubik:300,400,500" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
                <%-include('sidebar.ejs')%>
<div class="col" id="dashboard">
        <div class="container text-center" id="greeting-container">
            <h1 id="greeting-header">Good Evening , <%= name %>! </h1>
            <p class="greeting-message pt-5">
                " We all face challenges to our mental health. Depression and anxiety changes the way we think,
                feel and deal with tough times. Well done for taking the first step. You can follow other
                people’s journeys to wellness below or explore the site to find your own way to a better place. "
                <p>
        </div>
        <div class="container-fluid">
            <div class="row messageform-container justify-content-center">
                <div class="col-5 quiz-form-container text-center">
                    <button type="button" class="quiz-button" id="quizbtn">Start Quiz</button>
                </div>
            </div>
</div>
</div>
<div id="quizform-container" class="col">
    <div class="container" id="quizform">
        <div class="col text-center">
            <h4 id="questiontracker" class="pb-3"></h4>
            <p id="currentQuestion"></p>
            <div class="row justify-content-around">
                <div class="btn-group">
                    <input type="button" class="button" id="responsebtn" value="1">
                    <input type="button" class="button" id="responsebtn" value="2">
                    <input type="button" class="button" id="responsebtn" value="3">
                    <input type="button" class="button" id="responsebtn" value="4">
                    <input type="button" class="button" id="responsebtn" value="5">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="get-results" id="resultbtn">Get Results</button>
        </div>

    </div>
</div>

<div id="resultform-container" class="col">
    <div class="container">
        <div class="result-container container text-center">
            <h1> Results</h1>
            <p id="summary"></p>
            <ul class="result-list">
            </ul>
            <p id="quote" class="text-center"></p>
        </div>
        <div class="container continue-container">
            <div class="continue">
                <a href="/dashboard">Done</a>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<script src="quiz.js"></script>
</body>

</html>