<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Karla|Rubik:300,400,500" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right" id="sidebar">
                <div class="row justify-content-center pt-5 img-container">
                    <div class="img-frame">
                        <img src="/assets/dekuu.jpg" class="img-circle">
                    </div>
                </div>
                <div class="row justify-content-center pt-3">
                    <p class="userName"> <%= name %></p> 
                </div>
                <div class="list-group icons-list pt-3 pb-3">
                    <a href="/dashboard" class="list-group-item mb-3 " ><i class="fas fa-home"></i>Home</a>
                    <a href="#" class="list-group-item mb-3 mt-3"><i class="far fa-user"></i>Profile</a>
                    <a href="#" class="list-group-item mb-3 mt-3"><i class="far fa-comment"></i>Chat</a>
                    <a href="#" class="list-group-item mt-3"><i class="far fa-heart"></i>Story</a>
                </div>
                <div class="list-group icons-list">
                    <a href="#" class="list-group-item mt-5"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
<div class="col" id="dashboard">
        <div class="container text-center" id="greeting-container">
            <h1 id="greeting-header">Good Evening , Justin! </h1>
            <p class="greeting-message pt-5">
                " We all face challenges to our mental health. Depression and anxiety changes the way we think,
                feel and deal with tough times. Well done for taking the first step. You can follow other
                people’s journeys to wellness below or explore the site to find your own way to a better place. "
                <p>
        </div>
        <div class="container-fluid">
            <div class="row messageform-container justify-content-center">
                <div class="col-5 quiz-form-container text-center">
                    <button type="button" class="quiz-button" id="quizbtn">Start Quiz</button>
                </div>
            </div>
</div>



</div>
<div id="quizform-container" class="col">
        <div class="container" id="quizform">
            <div class="row">
                <div class="col-4 progressbar-container text-center">
                    <p>Hey</p>
                </div>
                <div class="col border-left">
                        <p>I feel like breaking things sometimes / I have thoughts of hurting others</p>
                    </div>
            </div>

    </div>
    </div>
    
    </div>
 </div>
</div>
<script src="quiz.js"></script>
</body>

</html>