<%-include('partials/header.ejs')%>
<div class="container ">
    <div class="row home-section">
        <div class="col homepage-info">
            <h2>Welcome to HalFull.</h2>
            <p>Half Full is a chat based therapy application that connects <br> you with the help you need.</p>
            <button type="button" class="btn btn-primary get-started">
                <a href="login ">Get Started</a>
            </button>
        </div>
        <div class="col homepage-image">
          <img src="/assets/teamwork.svg">
        </div>
    </div>
</div>
