<%-include('partials/header.ejs')%> 


<div class="container loginform-container">
    <h2> Log In</h2>
    <form>
        <div class="row">
            <input type="text" class="username" placeholder="Username">
        </div>
        <div class="row">
            <input type="password" class="username" placeholder="Password">
        </div>
        <div class="row">
            <input type="button" value="Log In" class="form-login">
        </div>
        <p> Don't have an account ? Sign up <span><a href="#">Here</a></span> </p>
    </form>
</div>