<%-include('partials/header.ejs')%> 
<div class="container signupform-container">
    <h2> Sign up</h2>
    <form action="signup" method="POST">
        <%-include('partials/alert.ejs')%>
        <div class="row">
            <input type="text" id="name" name="name" placeholder="Username">
        </div>
        <div class="row">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="row">
                <input type="password" id="confirmPassword" name="confirmPassword"  placeholder="Confirm password"  >
            </div>
        <div class="row">
            <button type="submit" class="form-signup">Sign up</button>
        </div>
        <p class="account-help"> If you have an account login <span><a href="#">Here</a></span> </p>
    </form>
</div>