<%-include('partials/header.ejs')%> 


<div class="container signupform-container">
    <h2> Sign up</h2>
    <form>
        <div class="row">
            <input type="text" class="username" placeholder="Username">
        </div>
        <div class="row">
            <input type="password" class="username" placeholder="Password">
        </div>
        <div class="row">
            <input type="button" value="Sign up" class="form-signup">
        </div>
        <p> If you have an account login <span><a href="#">Here</a></span> </p>
    </form>
</div>