#messages {
    padding-top: 20px;
    list-style: none;
}

#messages {
    list-style: none;
}


#userMsg {
    margin-top: .5rem;
    width: 20%;
    color: #000;
}

#OnlineUsers-container{
   
}

.onlineUser{
    font-family: 'Karla' , sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem 0 0 1.5rem;
}

a.onlineUser{
    text-decoration: none;
}




form {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    padding: 3px;
    width: 100%;
}
form input {
    margin-left: 5rem;
    width: 50%;
    /* border: 0; */
}




