.navbar {
    margin-bottom: 125px;
}

.navbar-brand  {
    text-transform: uppercase;
    color: #3773D3;
    margin-right: 10px;;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}

.nav a {
    color: black;
    font-family: 'Karla' , sans-serif;
    font-size: 16px;
}



.center-nav {
    margin-left: 25%;
}

.about-nav {
    margin: 0 2.5rem;
}

.sign-up {
    padding: 0 20px;
    border:none;
    border-radius: 2rem;
    color: #fff;
    background-image: linear-gradient(to bottom right, #1fb7fb 0%, #4dc5ee 100%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-family: 'Karla' , sans-serif;
    font-weight: 200;
    font-size: 16px;
}


.sign-up a {
    color: #fff;
}

.sign-up a:hover {
    text-decoration: none;
}

.sign-up:focus {
    outline: 0;
    transform: translateY(2px);
}
.get-started {
    border:none;
    border-radius: 2rem;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, #1fb7fb 0%, #4dc5ee 100%);
    font-family: 'Karla';
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline:0;
}

.get-started:focus{
    outline:0;
}

.get-started a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}


.home-section {
    padding-top: 100px;
}


.homepage-info , .aboutpage-info {
    font-family: 'Rubik' , sans-serif;
}

.homepage-info h2 {
    font-size: 54px;
    font-weight: 200;
    padding-bottom: 15px;
}

.aboutpage-info h1 {
    font-size: 54px;
    font-weight: 200;
    padding-bottom: 15px;
}

.homepage-info p {
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 20px;
}

.aboutpage-info p {
    font-size: 18px;
    font-weight: 200;
    width: 90%;
    line-height: 2rem;
}

.homepage-image img , .aboutpage-image img {
    width: 100%;
}



/* Login/Signup Form */
.signupform-container , .loginform-container {
    border-radius: 1rem;
    width:25%;;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Karla' , sans-serif;
}






.signupform-container h2, .loginform-container h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding: 2rem 0 ;
}

.signupform-container h2::before {
    margin: 0 auto;
    content: '';
    border-top: 2px solid rgba(80, 200, 120, .9);
    width: 15%;
    display: block;
    height: 10px;
}

.loginform-container h2::before {
    margin: 0 auto;
    content: '';
    border-top: 2px solid  #1fb7fb;
    width: 15%;
    display: block;
    height: 10px;

}



.signupform-container p , .loginform-container p  {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    opacity: 1;
    padding-bottom: 2rem;
}


input[type="text"], input[type="password"] {
    font-family: 'Rubik' , sans-serif;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

input::placeholder {
    font-family: 'Karla' , sans-serif;
    color: rgba(51, 51, 51, 1);
    font-size: 14x;
}

input {
    border: 0;
    border-bottom: 1px solid rgba(211, 211, 211, 0.8);
    margin: 0 auto;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid rgba(80, 200, 120, .9);
}


.form-signup {
    border:none;
    border-radius: 2rem;
    padding: 10px 20px;
    background-image: linear-gradient(200deg, #1fb7fb 0%, #4dc5ee 100%);
    font-family: 'Karla';
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin: 0 auto;
}

.form-login {
    border:none;
    border-radius: 2rem;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    padding: 10px 25px;
    font-family: 'Karla';
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #2EE59D;
    margin: 0 auto;
}

.errorAlert {
    width: 50%;
    margin: 0 auto;
}


.account-help {
    padding-top: 1rem;
}
/* Login/Signup Form /*




/* About page */

#about-section{
    padding: 3rem 0;
    width: 50%;
    font-family: 'Rubik',sans-serif;
}

/* 
#about-section h2{
    width: 50%;
} */
/* 
#aboutUs {
    padding-bottom: 
} */


#aboutUs::after{
    margin: .5rem auto;
    content: '';
    border-top: 2px solid #43e97b;
    width: 10%;
    display: block;
    height: 10px;
}


#about-section p{
    text-align: center;
    font-weight: 300;
    line-height: 2rem;
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem 0;
}

#about-section span {
 font-weight: 400;
 color: #3773D3;
}

#aboutButton{
    border:none;
    /* border-radius: 2rem; */
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    padding: 10px 25px;
    font-family: 'Karla';
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #2EE59D;
    margin: 0 auto;
}

#aboutButton a {
    color: white;
    text-decoration: none;
}

#feature-section h1{
    font-family: 'Rubik' , sans-serif;
    letter-spacing: .1rem;
    font-size: 2rem;
    padding-top: 3rem;
}

#feature-sections{
    font-weight: 400;
    padding: 5rem 0;
}

#feature-sections h4 {
    font-family: 'Rubik', sans-serif;
}

#feature-sections p {
    line-height: 1.5rem;
    width: 80%;
    font-family: 'Karla' , sans-serif;
}



/* Stories Page */

#Stories-header{
    padding-bottom: 8rem;
}

#Stories-header p{
    margin: 0 auto;
    width: 30%;
}


#Stories::after{
    margin: .5rem auto;
    content: '';
    border-top: 2px solid #1fb7fb;
    width: 5%;
    display: block;
    height: 10px;
}

#user-story{
    padding: 0 0 5rem 2.5rem;
}


#post-name{
    font-family: 'Rubik' , sans-serif;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    font-weight: 400;
    color: #1fb7fb;
}

#post-subject{
     font-size: 1.25rem;
     font-family: 'Karla' , sans-serif;
}

#post-content{
    width:  55%;
    color: rgba(0, 0, 0, .9);
    line-height: 1.5rem;
}


